*~
*.pyc
*.o
*kate-swp
*.swp
*.hi
*.log
*.aux
*.dvi
*.toc
.directory
/Java/ApplicWebFreeTaxShop/nbproject/private/
/Java/ApplicWebFreeTaxShop/dist/
/Java/ApplicWebFreeTaxShop/build/
/Java/ApplicWebFreetaxShop/nbproject/private/
/Java/ApplicWebFreetaxShop/build/
/Systèmes distribués/WebServiceSOAP/SecureCalculatorApp/nbproject/private/
/Systèmes distribués/WebServiceSOAP/SecureCalculatorClientApp/nbproject/private/
/Systèmes distribués/WebServiceSOAP/SecureCalculatorClientApp/build/
/Systèmes distribués/WebServiceSOAP/WebServiceSOAP/nbproject/private/
/Systèmes distribués/WebServiceSOAP/WebServiceSOAP/build/
/Systèmes distribués/WebServiceSOAP/WebServiceSOAP/dist/
/Systèmes distribués/SOAPWebService/nbproject/private/
/Systèmes distribués/SOAPWebService/build/
/Systemes_distribues/SOAPWebService/build/
/Systemes_distribues/SOAPWebService/dist/
/Systemes_distribues/WebServiceSOAP/nbproject/private/
/Systemes_distribues/WebServiceSOAP/build/
/Systemes_distribues/WebApplication1/nbproject/private/
/Systemes_distribues/WebApplication1/build/
/Systemes_distribues/WebServiceREST/nbproject/private/
/Systemes_distribues/WebServiceREST/build/
/Systemes_distribues/WebServiceREST/dist/
/Systemes_distribues/WebServiceSOAP/dist/
/Java/FerryInpres/dist/