*~
*.pyc
*.o
*kate-swp
/Java/ApplicWebFreeTaxShop/nbproject/private/
/Java/ApplicWebFreeTaxShop/dist/
/Java/ApplicWebFreeTaxShop/build/
/Java/ApplicWebFreetaxShop/nbproject/private/
/Java/ApplicWebFreetaxShop/build/