{% extends "base.html" %}
{% load i18n %}

{% block titre %}{% block titre-page %}
    {% trans "Mes adresses" %}
{% endblock %}{% endblock %}

{% block contenu %}
    {% if message != None %}
        <p><strong>
            {% if message == 'supprime' %}
                {% trans "Adresse supprimée" %}
            {% endif %}
            {% if message == 'suppression impossible' %}
                {% trans "Impossible de supprimer l'adresse. Elle est utilisée par une commande" %}
            {% endif %}
            {% if message == 'ajoute' %}
                {% trans "Adresse ajoutée" %}
            {% endif %}
        </strong></p>
    {% endif %}

    {% if adresses|length > 0 %}
        {% for adresse in adresses %}
            <ul>
                <li><strong>{% trans "Adresse" %} :</strong> {{ adresse.adresse }}</li>
                <li><strong>{% trans "Ville" %} :</strong> {{ adresse.ville }}</li>
                <li><strong>{% trans "Code postal" %} :</strong> {{ adresse.code_postal }}</li>
                <li><strong>{% trans "Pays" %} :</strong> {{ adresse.pays }}</li>
                <li>
                    <a href="{% url adresse-supprimer adresse.id %}">Supprimer</a>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p>
            {% trans "Vous n'avez enregistré aucune adresse." %}
        </p>
    {% endif %}

    <h2>Ajouter une adresse</h2>
    <form method="post" action="">
        <ul>
            {{ form.as_ul }}
        </ul>
        {% csrf_token %}
        <input type="submit" value="{% trans "Ajouter" %}" />
    </form>

{% endblock %}