{% extends "base.html" %}
{% load i18n %}

{% block titre %}{% block titre-page %}
    {% trans "Mon caddie" %}
{% endblock %}{% endblock %}

{% block contenu %}
    {% if caddie_produits|length > 0 %}
        <table width="95%">
            <thead>
                <tr>
                    <th>{% trans "Produit" %}</th>
                    <th>{% trans "Quantité" %}</th>
                    <th>{% trans "Prix unitaire" %}</th>
                    <th>{% trans "Prix total" %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for p in caddie_produits %}
                <tr>
                    <td><a href="{% url produit p.ean %}">
                        {{ p.titre|escape }}
                    </a></td>
                    <td>
                        {{ p.quantite }}
                        {% if not p.en_stock %}
                            <strong>
                                (non disponible en stock ({{ p.stock }} exemplaire(s) en stock))
                            </strong>
                        {% endif %}
                    </td>
                    <td>{{ p.prix }} {{ p.devise }}</td>
                    <td>{{ p.prix_total }} {{ p.devise }}</td>
                    <td><a href="{% url caddie-modifier p.ean %}">
                        {% trans "Modifier la quantité" %}
                    </a></td>
                    <td><a href="{% url caddie-supprimer p.ean %}">
                        {% trans "Supprimer" %}
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            {% if page_precedente %}
                <li><a href="{% url caddie-page page_precedente %}">
                    {% trans "Page précédente" %}
                </a></li>
            {% endif %}

            {% if page_suivante %}
                <li><a href="{% url caddie-page page_suivante %}">
                    {% trans "Page suivante" %}
                </a></li>
            {% endif %}
        </ul>

        <p>
            <a href="{% url caddie-vider %}">
                {% trans "Videz-moi ce caddie !" %}
            </a>
        </p>

        <p>
            <strong>{% trans "Prix total:" %}</strong>
            {% comment %} 
                <ul>
                {% for devise, total_devise in total.items %}
                    <li>{{ total_devise }} {{ devise }}</li>
                {% endfor %}
                </ul>
            {% endcomment %} 
            {{ total }} €
        </p>
        
        {% if en_stock %}
            <h2>Passer commande</h2>
            
            <form method="post" action="">
                <ul>
                    {{ form.as_ul }}
                </ul>
                <a href="{% url adresses %}">{% trans "Gérer mes adresses" %}</a>
                
                {% csrf_token %}                
                <input type="submit" value="{% trans "Commander" %}" />
            </form>
        {% else %}
            <p>
                {% blocktrans %}
                    Vous ne pouvez pas passer commande car certains articles
                    ne sont pas disponibles dans les stocks
                {% endblocktrans %}
            </p>
        {% endif %}
        
    {% else %}
        <p>
            {% trans "Votre caddie est vide." %}
        </p>
    {% endif %}
{% endblock %}