{% extends "base.html" %}
{% load i18n %}

{% block titre %}{% block titre-page %}
    {% if recherche %}
        {% blocktrans %}
            Rechercher « {{ recherche|escape }} » dans le catalogue
        {% endblocktrans %}
    {% else %}    
        {% trans "Catalogue" %}
    {% endif %}
{% endblock %}{% endblock %}

{% block contenu %}
    <ul>
    {% for p in produits %}
        <li><a href="{% url produit p.ean %}">
            {% blocktrans with titre=p.titre|escape prix=p.prix|escape devise=p.devise|escape %}
                {{ titre }}</a> - {{ prix }} {{ devise }}
            {% endblocktrans %}
        </li>
    {% endfor %}
    </ul>

    <ul>
        {% if page_precedente %}
            <li><a href="{% url catalogue-page page_precedente %}">
                {% trans "Page précédente" %}
            </a></li>
        {% endif %}

        {% if page_suivante %}
            <li><a href="{% url catalogue-page page_suivante %}">
                {% trans "Page suivante" %}
            </a></li>
        {% endif %}
    </ul>
{% endblock %}