{% extends "base.html" %}
{% load i18n %}

{% block titre %}{% block titre-page %}
    {% trans "Détails d'une commande" %}
{% endblock %}{% endblock %}

{% block contenu %}
    <table width="95%">
        <thead>
            <tr>
                <th>{% trans "Produit" %}</th>
                <th>{% trans "Quantité" %}</th>
                <th>{% trans "Prix unitaire" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for cp in commande_produits %}
            <tr>
                <td><a href="{% url produit cp.ean %}">
                    {{ cp.titre|escape }}
                </a></td>
                <td>
                    {{ cp.quantite }}
                </td>
                <td>{{ cp.prix }} {{ cp.devise }}</td>
                <td><a href="{% url commande-modifier commande_id cp.commande_produit_id %}">
                    {% trans "Modifier la quantité" %}
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}