{% extends "base.html" %}
{% load i18n %}

{% block titre %}{% block titre-page %}
    {{ produit.titre|escape }}
{% endblock %}{% endblock %}

{% block contenu %}
    <p class="prix">
        {% blocktrans with prix=produit.prix|escape devise=produit.devise|escape stock=produit.stock%}
            {{ prix }} {{ devise }} ({{stock}} exemplaire(s) en stock)
        {% endblocktrans %}
        <a href="{% url caddie-ajout produit.ean %}">
            {% trans "Ajouter au caddie" %}
        </a>
    </p>

    {% if produit.description %}
        <h2>{% trans "Description" %}</h2>
        {{ produit.description|escape }}
    {% endif %}

    <ul>
        {% if produit.type_produit == "LIVRE" %}
            <li>
                <strong>{% trans "Type de média" %}: </strong>
                <a href="">livre</a>
            </li>
            <li>
                <strong>{% trans "Code ISBN" %}: </strong>
                {{ produit.livre.isbn|escape }}
            </li>
            <li>
                <strong>
                    {% trans "Auteur(s)" %}:
                </strong>
                <ul>
                    {% for a in produit.livre.auteurs.all %}
                        <li><a href="">
                            {{ a.nom|escape }} {{ a.prenom|escape }}
                        </a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <strong>{% trans "Editeur" %}: </strong>
                <a href="">{{ produit.livre.editeur.nom|escape }}</a>
            </li>
        {% else %}{% if produit.type_produit == "FILM" %}
            <li>
                <strong>{% trans "Type de média" %}: </strong>
                <a href="">film</a>
            </li>
            <li>
                <strong>
                    {% trans "Acteur(s)" %}:
                </strong>
                <ul>
                    {% for a in produit.film.acteurs.all %}
                        <li><a href="">
                            {{ a.nom|escape }} {{ a.prenom|escape }}
                        </a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <strong>
                    {% trans "Réalisateur(s)" %}:
                </strong>
                <ul>
                    {% for a in produit.film.realisateurs.all %}
                        <li><a href="">
                            {{ a.nom|escape }} {{ a.prenom|escape }}
                        </a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <strong>{% trans "Studio" %}: </strong>
                <a href="">{{ produit.film.studio.nom|escape }}</a>
            </li>
            <li>
                <strong>{% trans "Support" %}: </strong>
                {{ produit.film.get_support_display }}
            </li>
            <li>
                <strong>{% trans "Nombre de disques" %}: </strong>
                {{ produit.film.disques }}
            </li>
            <li>
                <strong>{% trans "Audience" %}: </strong>
                {{ produit.film.get_notation_display }}
            </li>
            <li>
                <strong>{% trans "Durée" %}: </strong>
                {{ produit.film.duree }}
            </li>
        {% else %}{% if produit.type_produit == "MUSIQUE" %}
            <li>
                <strong>{% trans "Type de média" %}: </strong>
                <a href="">musique</a>
            </li>
            <li>
                <strong>
                    {% trans "Auteurs(s)" %}:
                </strong>
                <ul>
                    {% for a in produit.musique.auteurs.all %}
                        <li><a href="">
                            {{ a.nom|escape }} {{ a.prenom|escape }}
                        </a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <strong>{% trans "Label" %}: </strong>
                <a href="">{{ produit.musique.label.nom|escape }}</a>
            </li>
            <li>
                <strong>{% trans "Support" %}: </strong>
                {{ produit.musique.get_support_display }}
            </li>
            <li>
                <strong>{% trans "Nombre de disques" %}: </strong>
                {{ produit.musique.disques }}
            </li>
            <li>
                <strong>{% trans "Date de publication" %}: </strong>
                {{ produit.musique.publication }}
            </li>
        {% endif %}{% endif %}{% endif %}

        <li>
            <strong>{% trans "Langue" %}: </strong>
            {{ produit.get_langue_display }}
        </li>
    </ul>

    <h3>{% trans "Les utilisateurs ayant commandé ce produit on également acheté les produits suivants: " %}</h3>
    
    {% if similaires|length > 0 %}
        <ul>
            {% for p in similaires %}
                <li><a href="{% url produit p.ean %}">
                    {% blocktrans with titre=p.titre|escape prix=p.prix|escape devise=p.devise|escape %}
                        {{ titre }}</a> - {{ prix }} {{ devise }}
                    {% endblocktrans %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            <strong>Aucun produit similaire trouvé</strong>
        </p>
    {% endif %}

    <h3>{% trans "Commentaires" %}</h3>
   
    {% for c in commentaires %}
        <p>
            <strong>{{ c.login }}</strong> ({{ c.creation }})
            <blockquote>
                {{ c.message }}
            </blockquote>
        </p>
    {% endfor %}

    {% if form %}
        <h4>Ajouter un commentaire</h4>
        
        <form action="" method="post">
            <ul>
                {{ form.as_ul }}
            </ul>
            {% csrf_token %}
            <input type="submit" value="{% trans "Ajouter" %}" />
        </form>
    {% else %}
        <p>
            {% if user.is_authenticated %}
                {% trans "Vous devez avoir reçu cet objet pour poster un commentaire." %}
            {% else %}
                {% trans "Vous devez être connecté et avoir reçu cet objet pour poster un commentaire." %}
            {% endif %}
        </p>
    {% endif %}
    
{% endblock %}